<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

  <div>
    <table class="table table-hover table-striped table-bordered table-center" style="text-align: center; vertical-align: bottom">
      <tr>
        <th>
          Name
        </th>
        <th>
          Create On
        </th>
        <th>
          Update On
        </th>
        <th colspan="2">
          Management
        </th>
      </tr>
      <tr *ngFor="let issue of issues | async">
        <td>
          {{issue.assignee}}
        </td>
        <td>
            {{issue.createdOn}}
        </td>
        <td>
            {{issue.upadateOn}}
        </td>
        <td>
            <button class="btn btn-sm btn-warning">Edit</button>
        </td>
        <td>
            <button class="btn btn-sm btn-danger">Delete</button>
        </td>
      </tr>
    </table>
  </div>
